<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{% if page.title %} {{ page.title }} | {% endif %}とある雑記</title>
<link rel="stylesheet" href="assets/stylesheets/styles.css">
<link rel="stylesheet" href="assets/stylesheets/pygment_trac.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="assets/javascripts/main.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>

<!-- header -->
  <header>
    <a href="">
      <h1>とある雑記</h1>
      <p>powerd by GitHub Pages.</p>
    </a>
  </header>
  
<!-- banner -->
<div id="banner"><div class="banner-inner"><a href="https://vz-z.github.io/" class="button fork"><strong>Top</strong></a></div></div>

<!-- JSで目次が挿入される -->
<div class="wrapper">
<nav><ul></ul></nav>

<!-- 記事本体 -->
<section>{{ content }}</section>


<!-- ページ一覧（この形式は空白リンクが表示される、.mdへのリンクとなり404になるなどNG）
<section>
<ul>
{% for page in site.pages %}
    <li><a href={{ page.filename }}>{{ page.title }}</a></li>
{% endfor %}
</ul>
</section>
-->


<!-- ページ一覧テスト Markdownの#はh1になるのでここもh1 -->
<section>
<h1>記事一覧</h1>
<ul>
{% for html_page in site.posts %}
<li><a href="{{ html_page.url }}">{{ html_page.title }}</a></li>
{% endfor %}
</ul>
</section>

<!-- footer -->
<footer><span class="small">とある雑記</span></footer>
</div>
<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
</body></html>
